<!DOCTYPE html>
<html>
<head>
    <style>
        .thanks-container {
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="thanks-container">
        <h2>Your issue has been received!</h2>
        <p>We will contact you as soon as possible.</p>
    </div>
</body>
</html>
